@{
    ViewBag.Title = "Hakkında";
}

<div class="container mt-5">
    <h2>Hakkında</h2>
    <p>Patika Kütüphane Yönetim Sistemi, kitapları ve yazarları kolayca yönetmenizi sağlayan bir web uygulamasıdır.</p>
    <p>Bu proje, ASP.NET Core MVC kullanılarak geliştirilmiştir.</p>
</div>