@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="container mt-5">
    <h2>Hoş Geldiniz!</h2>
    <p>Patika Kütüphane Yönetim Sistemine hoş geldiniz. Bu sistemde kitapları ve yazarları yönetebilirsiniz.</p>
    <a asp-controller="Book" asp-action="List" class="btn btn-primary">Kitapları Görüntüle</a>
    <a asp-controller="Author" asp-action="List" class="btn btn-secondary">Yazarları Görüntüle</a>
</div>